.familiars,
.dataTables_wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  width: 100%;
}

.col-img {
  /* Override background color set by DataTables, because KoL images have white
  backgrounds and look ugly against non-white backgrounds. */
  background-color: #ffffff !important;
  /* Leave as little margin as possible on <img> */
  line-height: 0;
  text-align: center;
}

.col-img > img {
  height: 32px;
  width: 32px;
}

.col-familiar-id,
.col-owned,
.col-run-pct {
  text-align: center;
}

.col-owned--yes {
  color: #009900;
}

.col-owned--no {
  color: #990000;
}

.col-run-pct--perfect {
  background-image: linear-gradient(
    rgba(153, 255, 153, 0.5),
    rgba(153, 255, 153, 0.5)
  );
}

.col-run-pct--tourguide {
  background-image: linear-gradient(
    rgba(204, 255, 102, 0.5),
    rgba(204, 255, 102, 0.5)
  );
}

.col-links {
  font-size: 50%;
  text-align: center;
}
